.sidebar {
   width: 25%;
   height: 100%;
    background-color: cyan;
    font-size: 30px;
    margin-left: 10px;
    float: left;
    cursor: pointer;
}

.sidebar li{
    display: block;
    text-align: center;
    height: 100px;
}

.sidebar a{
    text-decoration: none;
    display: block;
    margin: 1rem 0 3rem 0;
}
 
.sidebar a:hover {
    background-color: cadetblue;
}

.active {
    background-color: blueviolet;
}