<div class="sidebar">

    <li><a [routerLink]="['opcion1']" routerLinkActive="active">Opcion1</a></li>
    <li><a [routerLink]="['opcion2']" routerLinkActive="active">Opcion2</a></li>
    <li><a [routerLink]="['opcion3']" routerLinkActive="active">Opcion3</a></li>
    <li><a [routerLink]="['opcion4']" routerLinkActive="active">Opcion4</a></li>
    <li><a [routerLink]="['opcion5']" routerLinkActive="active">Opcion5</a></li>

</div>
