
.navbar {
    overflow: hidden;
    background-color: aquamarine;
    padding: 30px;
    font-size: 40px;
    border: 1px solid black;
   width: 100%;
   text-align: center;
    cursor: pointer;
}

.navbar a:hover {
    background: blueviolet;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-left: 10rem;
    
}

.active {
    background-color: blue;
}