<div class="navbar">
    <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
    <a [routerLink]="['menu']" routerLinkActive="active">Menu</a>
    <a [routerLink]="['contactos']" routerLinkActive="active">Contactos</a>
</div>




